---
---
$brand-color: #1ca0da;
$text-color: #333333;
$text-light-color: #f5f5f5;

body {
	font-family: 'Open Sans', sans-serif;
	color: $text-color;
	a {
		color: inherit;
		text-decoration: none;
		&:hover {

		}
	}
}

@import "global";
@import "normalize";

@import "components/_header";
@import "components/_footer";

@import "pages/_index";
@import "pages/_download";
@import "pages/_blog";
@import "pages/_quickstart";
@import "pages/_docs";