$brand-color: #1ca0da;

body {
    font-family: 'Open Sans', sans-serif;
    a {
        color: inherit;
        text-decoration: none;
        &:hover {

        }
    }
}

@import "components/header";
@import "components/footer";

@import "views/home";