@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One|Shadows+Into+Light|Pacifico|Sigmar+One|Quicksand|Orbitron|Dancing+Script|Bangers|Amatic+SC|Righteous|Lobster+Two|Fredoka+One|Jura|Calligraffitti);

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
    font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    display: inline-block;
    max-width: 700px;
    margin: 5px 6px;
    background: #45527b;
    color: #eee;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.125em;
    margin: 2.2em 0;
}
p {
    font-size: 15px;
    margin: .6em 0;
}
a {
    text-decoration: none;
    color: #eee;
    border-bottom: 1px solid #eee;
    transition: .3s all ease;
}
a:hover {
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

.release {
  position: relative;
  background: #3b4667;
  border-radius: 4px;
  margin: 40px 0;
  padding: 20px;
  min-height: 160px;
}

.release-logo {
  position: absolute;
  top: 20px;
  left: 26px;
  height: 120px;
  -webkit-transform: rotate(2turn);
  -ms-transform: rotate(2turn) ;
  -moz-transform: rotate(2turn) ;
  transform : rotate(2turn) ;
  -webkit-duration: 3s;
  -moz-duration: 3s;
  -ms-duration: 3s;
  transition-duration: 3s;
}

.release-logo:hover {
  -webkit-transform: rotate(5turn);
  -ms-transform: rotate(5turn) ;
  -moz-transform: rotate(5turn) ;
  transform : rotate(5turn);
}
}

.release-details {
  padding-left: 150px;
  padding-top: 24px;
  text-align: left;
}

.release-version {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  color: black;
}

.release-version em {
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-size: 1.1rem;
}

.release-downloads {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}

.release-downloads a:hover {
  text-decoration: underline;
}

.button {
    border: solid 1px #eee;
    display: inline-block;
    padding: 1em;
    margin: 10px;
    background-color: transparent;
    border-radius: 3px;
    transition: .3s all ease;
    color: #eee;
}
.button-large {
    font-size: 20px;
    margin: 15px !important;
    padding: 1.3em;
    border-radius: 5px;
}
.button:hover {
    background-color: #eee;
    color: #333;
}
.multi-button {
    display: inline-block
}
.multi-button .button {
    margin: 0;
    border-left: none;
}
.multi-button .button:first-child {
    margin: 0;
    border-radius: 3px 0 0 3px;
    border: solid 1px #eee;
}
.multi-button .button:last-child {
    border-radius: 0 3px 3px 0;
}
.faq-item {
    border-radius: 3px;
    border:solid 1px #eee;
    margin:20px;
}
.faq-title {
    margin:0;
    line-height:3em;
    background: #eee;
    color:#333;
}
.faq-body {
    margin:1em;
}
.brand {
    margin: 5px 10px;
    text-align: left;
}
.brand a {
    border-bottom: none;
    color: #aaa;
}
.heading {
    font-size: 55px;
    line-height: 175px;
    font-family: 'Pacifico', cursive;
}

.para {
    font-family: 'Jura', sans-serif;
}

.version {
    font-family: 'Orbitron', sans-serif;
}