<header>
    <a href="/" class="logo-wrapper">
        <img src="/img/logo.png" class="logo" alt="NWJS.io"><span class="big-title">NW.js</span>
    </a>
    <nav>
        <a href="/">Home</a> |
        <a href="{{{config.links.download}}}">Downloads</a> |
        <a href="/blog">Blog</a> |
        <a href="{{{config.links.docs}}}">Documentation</a>
    </nav>
</header>