<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="nwjs">
<meta name="keywords" content="nw.js, nwjs, nw js, node-webkit, node, node.js, chrome, chromium, javascript">

<title>{{{title}}}</title>
<!-- stylesheets -->
<link href="/lib/normalize.css/normalize.css" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
<!-- scripts -->
<script src="/lib/react/react.js"></script>
<script src="/lib/react/react-dom.js"></script>
<script src="/js/common.js"></script>