<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../components/head.ejs %>
</head>
<body>
  <% include ../components/header.ejs %>

  <div class="container blog">
    <div class="content">
      <h1>Blog</h1>
      <p>content</p>
    </div>
  </div>

  <!-- END  -->
  <% include ../components/footer.ejs %>
</body>
</html>
