<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head.ejs %>
</head>
<body>
    <% include ../components/header.ejs %>

    <div class="container quickstart">
        <div class="content">
            <%- markdown('quickstart.md') %>
        </div>
    </div>

    <!-- END  -->
    <% include ../components/footer.ejs %>
</body>
</html>
