.main-header{
	@extend .cf;
	background-color: $c_dark-brand;
	position: relative;
	padding: 20px;
	top: 0px;
	right: 0px;
	left: 0px;
	.logo{
		float: left;
		@extend .cf;
		h1{
			color: #fff;
			font-size: 20px;
			font-weight: 700;
			float: left;
			margin: 21px 0px 0px 10px;
		}
		span{
			img{
				float: left;
				width: auto;
				max-height: 60px;
			}
		}
	}
	.main-nav{
		margin-top: 24px;
		float: right;
		a{
			color: #fff;
			text-decoration: none;
			font-size: 14px;
			margin-left: 20px;
			border-bottom: 1px solid transparent;
			padding-bottom: 5px;
			@include easing(350ms);
			&:hover{
				@include easing(350ms);
				opacity: 0.7;
				border-bottom: 1px solid rgba(255,255,255,0.3);
			}
		}
	}
}
