<header>
    <div class="logo-wrapper">
        <img src="img/logo.png" class="logo" alt="NWJS.io"/>
    </div>
    <nav>
        <a href="#">Home</a> |
        <a href="#">Quick Start</a> |
        <a href="#">Downloads</a> |
        <a href="#">Blog</a> |
        <a href="#">Documentation</a>
    </nav>
</header>