<!doctype html>
<html>
<head>
    {{> head }}
</head>
<body>
    {{> header }}

    <div class="container blog">
        <div class="content">
            {{{contents}}}
        </div>
    </div>

    {{> footer}}
</body>
</html>
