<footer>
    <div class="column">
        <h2>Product</h2>
        <a href="#">Features</a>
        <a href="#">Logos & Assets</a>
        <a href="#"></a>
    </div>
    <div class="column">
        <h2>Help</h2>
        <a href="/docs">Docs</a>
        <a href="#">Wiki</a>
        <a href="#"></a>
    </div>
    <div class="column">
        <h2>Community</h2>
        <a href="#">Forum</a>
        <a href="#">Contribute</a>
        <a href="#"></a>
    </div>
    <div class="column">
        <h2>Connect</h2>
        <a href="https://github.com/nwjs" target="_blank">Github</a>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
    </div>
    <div class="bottom">
        <div class="left">Copyright &copy; 2015 NWJS.io</div>
        <div class="right"><a href="#">Terms of use</a> & <a href="#">Privacy policy</a></div>
    </div>
</footer>
