<header>
    <a href="/" class="logo-wrapper">
        <img src="{{ site.baseurl }}/img/logo.png" class="logo" alt="NWJS.io"/>
    </a>
    <nav>
        {% assign current = page.url | downcase | split: '/' %}
        {% assign current_path = page.url | downcase %}
        <a href="{{ site.baseurl }}/" {% if current_path == '/' %}class='current'{% endif %}>Home</a> |
        <a href="{{ site.baseurl }}/quickstart" {% if current[1] == 'quickstart' %}class='current'{% endif %}>Quick Start</a> |
        <a href="{{ site.baseurl }}/download" {% if current[1] == 'download' %}class='current'{% endif %}>Downloads</a> |
        <a href="{{ site.baseurl }}/blog" {% if current[1] == 'blog' %}class='current'{% endif %}>Blog</a> |
        <a href="{{ site.baseurl }}/docs" {% if current[1] == 'docs' %}class='current'{% endif %}>Documentation</a>
    </nav>
</header>