.container.home {
	text-align: center;
    .download {
        background: url('/img/bg_pattern_dark.png');
        color: #ffffff;
        padding: 30px 0;
        h1 {
            margin: 0;
            font-weight: normal;
        }
        .d32bit, .d64bit {
            a {
                display: inline-block;
                background: url("/img/download_32.png") no-repeat;
                width: 120px;
                line-height: 42px;
                padding-left: 35px;
                height: 42px;
                text-align: center;
                font-size: 0.9em;
                margin: 5px;
            }
            
            a:hover {
            	// Stop the text from changing color on hover
            	color: $text-light-color;
            }
        }
        .d32bit {
            margin-top: 20px;
        }
        .d64bit {
            margin-bottom: 20px;
            a {
                background-image: url('/img/download_64.png');
            }
        }

        .release-notes {
            opacity: 0.5;
        }
    }
    .github {
        font-size: 1.4em;
        background: $brand-color;
        height: 60px;
        line-height: 60px;
        color: #ffffff;
    }
    .features {
        width: 900px;
        margin: 0 auto;
        padding: 20px 0;
        h2 {
        }
        ul {
            list-style: none;
            width: 900px;
            text-align: center;
            li {
                display: inline-block;
                width: 250px;
                vertical-align: top;
                margin: 10px 20px;
                img {
                }
                p {
                }
            }
        }
    }
}
