footer {
    background: #1F1F1F;
    color: $text-light-color;
    text-align: center;
    padding: 30px;
    .column {
        display: inline-block;
        width: 200px;
        text-align: left;
        vertical-align: top;
        margin-bottom: 20px;
        h2 {
            color: $brand-color;
        }
        a {
            display: block;
        }
    }
    .bottom {
        opacity: 0.5;
    }
}
