header {
    .logo-wrapper {
        height: 168px;
        background: url('/img/header_l.png') no-repeat left top, url('/img/header_r.png') no-repeat right top;
        background-color: $brand-color;
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img.logo {
            vertical-align: middle;
        }
    }

    nav {
        background: #333333;
        line-height: 35px;
        color: $text-light-color;
        text-align: center;
        a {
            text-transform: uppercase;
        }
    }

    .big-title {
        font-size: 72px;
        color: $text-light-color;
        vertical-align: middle;
        line-height: 168px;
    }
}