.highlight {
	background-color: #f5f5f5;
	padding: 0.5em 2em;
	code {
		font-family: Open Sans;
	}
	.nt {
		color: #8EBC53;
	}
	.language-html {
		.nx, .nb {
			color: #1ca0da;
		}
	}
	// string
	.s1, .s2 {
		color: #da1c1c;
	}
	.language-json {
		.nt {
			color: #da1c1c;
		}
	}
}