@charset "utf-8";                   // Character type for the stylesheet

//Import Google Webfont
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600');

//General Stuff that effects every page
@import "_var.sass";                // Sass Variables and Mixins - Does not effect page, but other Sass files reference this file.
@import "_normalize.sass";          // Removes inconsistencies in the way different browsers render items by default. Bootstrap comes with Normalize.
@import "_global.sass";             // Generalized styles that are site specific

//Specific stuff that effects part of every page
@import "_header.sass";             // Styles for the header of every page
@import "_footer.sass";             // Styles for the footer of every page

//Page specific Styles
@import "_404.sass";                // Styles for the 404 not found page
@import "_index.sass";              // Styles for the Home page
@import "_download.sass";           // Styles for the Downloads page
@import "_quickstart.sass";         // Styles for the Quickstart page
@import "_docs.sass";               // Styles for the Docs

//Plugins
@import "_radiogroups.sass";        //Radio Group styles found on codepen
@import "_ven.hljs.zenburn.sass";   //Highlight.js plugin - zenburn theme
