.container.blog {
	background: url($bg_pattern_light);
	padding: 0;
	.content {
		width: 1000px;
		background: #ffffff;
		margin: 0 auto;
		padding: 10px 30px;
	}
	.post-meta {
			color: #646464;
	}
	.post-link {
			font-weight: 600;
		}
	.post-list {
		list-style-type: none;
		padding: 0 1em;
	}
}