@media handheld, only screen and (max-width: 767px){
	.grid{
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	[class*='col-']{
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.main-masthead{
		h1{font-size: 30px;}
	}
	.main-releases{
		ul{
			li{
				display: block;
				a{
					display: block;
					margin: 20px 10px 20px 10px;
				}
			}
		}
	}
}
@media handheld, only screen and (max-width: 490px){
	.main-header{
		.logo{float: none;}
		.main-nav{
			float: none;
			a{
				display: inline-block;
				border-radius: 5px;
				margin: 0px 10px 15px 0px;
				padding: 10px;
				border: 1px solid #fff;
				text-align: center;
			}
		}
	}
}
@media handheld, only screen and (max-width: 435px){
	.main-header{
		.logo{
			width: 120px;
			margin: auto;
			display: block;
		}
		.main-nav{
			float: none;
			a{
				display: block;
				border-radius: 5px;
				margin: 0px 10px 15px 0px;
				padding: 10px;
				border: 1px solid #fff;
				text-align: center;
			}
		}
	}
}