.container.blog {
	background: url('/img/bg_pattern_light.png');
	padding: 0px;
	.content {
		background: #FFF;
		margin: 0px auto;
		padding: 10px 30px;
	}
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 20px 0;
	a {
		color: #15C;
	}
	.page-info {
		color: #999;
	}
}
