.container.download {
    background: url('/img/bg_pattern_light.png');
    padding: 0px;
    .content {
        margin: 0px auto;
        padding: 10px 30px;
        nav {
            padding: 5px;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            h3 {
                margin: 0px;
            }
            > * {
                border: 1px solid $brand-color;
                display: inline-block;
                padding: 5px;
                flex: 1;

                > div {
                    font-size: small;
                }
            }
            > .selected {
                background-color: $brand-color;
                color: $text-light-color;
            }
        }
        table {
            border-spacing: 5px;
            border-collapse: separate;
            width: 100%;
            td {
                border: 1px solid black;
                padding: 2px 5px;
                text-align: center;

                a {
                    display: inline-block;
                    width: 100%;
                }

            }

            td:hover {
                background-color: $brand-color;
                a {
                    color: $text-light-color;
                }
            }
        }
    }
    h1 {
        text-align: center;
        margin: 0px;
    }
}
