.container.download {
	background: url('/img/bg_pattern_light.png');
	padding: 0;
	.content {
		width: 1000px;
		margin: 0 auto;
		padding: 10px 30px;
	}
  h1 {
    text-align: center;
  }
  .nav {
    text-algin: center;

    nav {
      display: inline-block;
      padding: 2px 5px;

      > * {
        border-color: $brand-color;
        border-style: solid;
        border-width: 1px 0px;
        display: inline-block;
      }

      > *:first-child {
        border-radius: 5px 0px 0px 5px;
        border-left-width: 1px;
      }

      > *:last-child {
        border-radius: 0px 5px 5px 0px;
        border-right-width: 1px;
      }

      > *.selected {
        border-width: 1px;
      }
    }
  }
}