.container.home {
	text-align: center;
    .download {
        background: url('/img/bg_pattern_dark.png');
        color: #FFF;
        padding: 30px 0px;
        h1 {
            margin: 0px;
            font-weight: normal;
        }
        .dlbtnlist {
            display: flex;
            justify-content: center;
            .d32bit,
            .d64bit {
                a {
                    display: inline-block;
                    background: $brand-color;
                    border: 2px solid $brand-color;
                    border-radius: 5px;
                    width: 180px;
                    line-height: 1.5;
                    height: 3em;
                    text-align: center;
                    font-size: 1em;
                    margin: 5px;
                }
            }
       }
        .release-notes {
            opacity: 0.5;
        }
    }
    .github {
        font-size: 1.4em;
        background: $brand-color;
        height: 60px;
        line-height: 60px;
        color: #FFF;
    }
    .features {
        width: 900px;
        margin: 0px auto;
        padding: 20px 0px;
        ul {
            list-style: none;
            width: 900px;
            text-align: center;
            li {
                display: inline-block;
                width: 250px;
                vertical-align: top;
                margin: 10px 20px;
            }
        }
    }
}
