<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head.ejs %>
</head>
<body>
<% include ../components/header.ejs %>

<div class="container home">
    <div class="download">
        <h1>Download v0.12.0-alpha1</h1>

        <div class="d32bit">
            <a href="#">Linux 32bit</a>
            <a href="#">Windows 32bit</a>
            <a href="#">Mac 32bit</a>
        </div>
        <div class="d64bit">
            <a href="#">Linux 64bit</a>
            <a href="#">Windows 64bit</a>
            <a href="#">Mac 64bit</a>
        </div>
        <a class="release-notes" href="#">Release Notes</a>
    </div>
    <div class="github"><a href="#">View on <b>GitHub</b></a></div>
    <div class="features">
        <h2>NW.js lets you call all Node.js modules directly from DOM and enables a new way of writing applications with
            all Web technologies.</h2>
        <ul>
            <li>
                <img src="/img/icon_code.png" alt=""/>

                <p>New way of writing native applications with web most popular technologies</p>
            </li>
            <li>
                <img src="/img/icon_tech.png" alt=""/>

                <p>Apps written in modern HTML5, CSS3, JS and WebGL</p>
            </li>
            <li>
                <img src="/img/icon_connect.png" alt=""/>

                <p>Complete support for Node.js APIs and all third party modules</p>
            </li>
            <li>
                <img src="/img/icon_puzzle.png" alt=""/>

                <p>Call Node.js modules directly from the DOM</p>
            </li>
            <li>
                <img src="/img/icon_instances.png" alt=""/>

                <p>Easy to package and distribute apps</p>
            </li>
            <li>
                <img src="/img/icon_platforms.png" alt=""/>

                <p>Available on Linux, Mac OS X and Windows</p>
            </li>
        </ul>

    </div>
</div>

<!-- END  -->
<% include ../components/footer.ejs %>
</body>
</html>