<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head.ejs %>
</head>
<body>
<% include ../components/header.ejs %>

<div class="container">
    <%- markdown('quickstart.md') %>
</div>

<!-- END  -->
<% include ../components/footer.ejs %>
</body>
</html>