$brand-color: #1CA0DA;
$text-color: #333;
$text-light-color: #F5F5F5;

body {
    font-family: 'Open Sans', sans-serif;
    color: $text-color;
    a {
        color: inherit;
        text-decoration: none;
    }
    .content {
        a {
            color: #15C;
        }
    }
}

@import "global";

@import "components/_header";
@import "components/_footer";

@import "pages/_index";
@import "pages/_download";
@import "pages/_blog";
@import "pages/_quickstart"
